<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.pkqup.androidnote">


    <!--自定义权限-->
    <permission
        android:name="com.sample.test.permission.sticky.receiver"
        android:protectionLevel="normal" />
    <!--使用自定义权限-->
    <uses-permission android:name="com.sample.test.permission.sticky.receiver" />
    <!--使用粘性广播发送权限-->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.android.pkqup.androidnote.abase.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.android.pkqup.androidnote.animation_test.FrameActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.android.pkqup.androidnote.animation_test.TweenActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.android.pkqup.androidnote.animation_test.PropertyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.android.pkqup.androidnote.animation_test.PhysicsBasedAnimationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.android.pkqup.androidnote.fragment_test.FragmentTestActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.android.pkqup.androidnote.handler_test.HandlerThreadTestActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.android.pkqup.androidnote.touch_event_test.TouchTestActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.android.pkqup.androidnote.view_draw_test.ViewDrawTestActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.android.pkqup.androidnote.activity_test.ActivityTestActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.android.pkqup.androidnote.broadcast_receiver_test.BroadcastReceiverActivity"
            android:theme="@style/AppTheme" />

        <receiver android:name=".broadcast_receiver_test.StickyBroadcastReceiver">
            <!--android:permission="com.sample.test.permission.sticky.receiver"-->
            <!--android:permission 其他应用使用时，需要检测的权限-->
            <intent-filter>
                <action android:name="com.sample.test.sticky.broadcast.receiver" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.android.pkqup.androidnote.service_test.ServiceTestOneActivity"
            android:theme="@style/AppTheme" />
        <service
            android:name=".service_test.MyTestService"
            android:exported="false" />
        <service
            android:name=".service_test.MyService"
            android:exported="false" />
        <service
            android:name=".service_test.MyIntentService" />
    </application>


</manifest>